node_modules
.next
.next-p2build
.next-p3build
.data
.env
.env.*
!.env.example
*.log
.DS_Store
.tmp-p2

.chrome-rec
assets/fonts/*.ttf
public/trailers/qa/
public/trailers/qa2/
public/trailers/qa3/
public/trailers/mpt/qa/
